/* Section band styles*/

.band {
  padding-top    : 64px;
  padding-bottom : 128px;
  position       : relative;
  min-height     : 100vh;
  overflow       : hidden;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  gap            : 32px;

  @include media("<=tablet") {
    justify-content: flex-start;
    padding-bottom : 0px;
    gap            : 0px;
  }

  &__top {
    @include spacing();
    display        : flex;
    flex-direction : column;
    gap            : 16px;
    flex           : 1;
    z-index        : 3;
    height         : 100%;
    align-items    : flex-start;

    @include media("<=tablet") {
      flex           : none;
      justify-content: flex-start;
    }

    &-content {
      display: flex;
      gap    : 32px;

      &--text {
        flex    : 1;
        position: relative;
        display : flex;

        &__thumbnail {
          display: flex;
          gap    : 16px;
        }
      }

      &--thumbnail {
        position: relative;

        &::after {
          content         : '';
          z-index         : 2;
          position        : absolute;
          top             : 0px;
          left            : 0px;
          width           : 100%;
          height          : 100%;
          background-color: transparentize(palette('primary'), 0.8);
        }
      }

      @include media("<desktop") {
        gap: 0px;
      }
    }

    &-image {
      width: 400px;

      &--inside {
        width     : 200px;
        height    : 100%;
        object-fit: cover;

        @include media(">=desktop") {
          display: none;
        }
        @include media("<tablet") {
          width: 100px;
        }
      }

      @include media("<desktop") {
        display: none;
      }
      @include media("<LGdesktop") {
        width: 300px;
      }
    }
  }

  &__decorate-vector {
    z-index : 2;
    height  : 300px;
    position: absolute;
    bottom  : -100px;
    left    : -100px;

    @include media("<=desktop") {
      left  : -50px;
      height: 200px;
    }

    @include media("<=phone") {
      height: 100px;
    }
  }

  &__decorate-text-vector {
    z-index : 2;
    height  : 200px;
    position: absolute;
    bottom  : -100px;
    right   : -100px;

    @include media("<=phone") {
      height: 100px;
      right : -50px;
      bottom: -50px;
    }
  }

  &__bottom {
    @include spacing();
    z-index         : 2;
    position        : relative;
    height          : 1200px;
    display         : flex;
    background-color: black;

    @include media("<LGdesktop") {
      height: 1000px;
    }

    @include media("<=desktop") {
      height: 500px;
    }

    @include media("<=tablet") {
      height: 380px;
    }

    @include media("<=phone") {
      height: 300px;
    }

    &-image {
      height   : 100%;
      width    : 100%;
      position : absolute;
      z-index  : 2;
      top      : 50%;
      left     : 50%;
      transform: translate(-50%, -50%);

      &-container {
        position: relative;
        height  : 100%;
        width   : 100%;
        overflow: hidden;
      }
    }

    &-description {
      position : absolute;
      right    : 0px;
      bottom   : 0px;
      transform: translateY(100%);
      color    : palette('light');

      @include media("<=tablet") {
        display: none;
      }
    }

    &-members {
      @include spacing();
      z-index       : 2;
      display       : none;
      flex-direction: column;

      ul {
        list-style-type: square;
        margin-top     : 8px;
        margin-left    : 16px;
      }

      li {
        @include typography('body2');
        padding: 4px;
      }

      h6 {
        @include typography('subtitle2', 'primary');
      }

      @include media("<=tablet") {
        display: flex;
      }
    }
  }

  &__background {
    position: relative;
  }
}
