/* Footer styles */

.footer {
  background-color: palette('accent');
  width           : 100%;
  text-align      : center;
  padding         : 16px 0px;

  a {
    color: transparentize(palette('light'), 0.7);
    text-decoration: underline;
  }
}
