/* Section landing styles*/

.landing {
  position       : relative;
  min-height     : 100vh;
  overflow       : hidden;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;

  &__top {
    @include spacing();
    padding-top: 32px;
    z-index    : 2;

    &-header-label {
      font-size  : 42px;
      font-weight: weight('medium');
      color      : palette('primary');

      @include media("<=tablet") {
        display: none;
      }
    }
  }

  &__middle {
    @include spacing();
    position      : relative;
    display       : flex;
    flex-direction: column;
    gap           : 32px;

    &-title {
      margin        : 0px;
      width         : 50%;
      z-index       : 3;
      font-size     : 128px;
      font-weight   : bold;
      font-family   : $thirdFamilyFont;
      line-height   : 110px;
      letter-spacing: 16px;

      @include media("<LGdesktop") {
        width: 90%;
      }

      @include media("<=tablet") {
        font-size     : 72px;
        line-height   : 65px;
        letter-spacing: 6px;
      }

      @include media("<=phone") {
        font-size: 56px;
        letter-spacing: 2px;
        line-height   : 50px;
      }
    }

    &-subtitle {
      margin     : 0px;
      width      : 50%;
      z-index    : 3;
      font-size  : 32px;
      font-weight: 100;
      font-family: $secondFamilyFont;

      @include media("<LGdesktop") {
        width: 100%;
      }

      @include media("<=phone") {
        font-size  : 16px;
      }
    }

    &-logo {
      position: absolute;
      z-index : 2;
      right   : 20%;
      top     : -10%;
      opacity : 50%;
      height  : 120px;

      @include media("<LGdesktop") {
        right: 10%;
      }

      @include media("<=tablet") {
        height: 100px;
      }

      @include media("<=phone") {
        height: 42px;
        right : 2%;
        top   : -5%;
      }
    }
  }

  &__bottom {
    z-index         : 2;
    position        : relative;
    width           : 100%;
    overflow        : hidden;
    height          : 350px;
    display         : flex;
    background-color: palette('secondary');

    @include media("<=phone") {
      height: 300px;
    }

    &-image {
      width    : 100%;
      position : absolute;
      z-index  : 2;
      bottom   : 0px;
      left     : 50%;
      transform: translateX(-50%);
      animation: image-zoom-anim 30s linear 0s infinite;

      @include media("<LGdesktop") {
        width : auto;
        height: 100%;
      }
    }

    &::after {
      content         : "";
      display         : flex;
      align-items     : center;
      justify-content : center;
      position        : absolute;
      width           : 100%;
      height          : 100%;
      opacity         : 1;
      z-index         : 2;
      animation       : shimmering 8s infinite;
      color           : palette('primary');
      font-size       : 32px;
      font-weight     : bold;
      background-color: black;
    }
  }
}
