/* Font import SpaceGrotesk */

@font-face {
  font-family: 'SpaceGrotesk';
  font-style: normal;
  src: local("SpaceGrotesk"), url(../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: 'MadeOuterSans';
  font-style: 300;
  src: local("MadeOuterSans"), url(../assets/fonts/MADE-OuterSans_Light.otf) format("opentype");
}

@font-face {
  font-family: 'MadeOuterSansOutlined';
  font-style: bold;
  src: local("MadeOuterSansOutlined"), url(../assets/fonts/MADE-OuterSans-Outline_Bold.otf) format("opentype");
}

/* Animations */

@keyframes image-zoom-anim {
  0% {
    transform: translateX(-50%) scale(1); }
  50% {
    transform: translateX(-50%) scale(1.2); }
  100% {
    transform: translateX(-50%) scale(1); } }

/* Common styles */

* {
  margin: 0px;
  padding: 0px; }

html {
  scroll-behavior: smooth; }

body {
  overflow-x: hidden;
  margin: 0px;
  scroll-behavior: smooth;
  background-color: #0E0E0E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body::-webkit-scrollbar {
  width: 12px; }

body::-webkit-scrollbar-track {
  background: #0E0E0E;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(248, 248, 255, 0.2);
  border-radius: 24px;
  border: 2px solid #0E0E0E;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(238, 0, 0, 0.6);
}

h1, h2, h3, h4, h5, h6, a, p, span {
  color      : #F8F8FF;
  font-family: "Space Grotesk", sans-serif;
}

.layout {
  display: flex;
  flex-direction: row-reverse;
}
.layout--hide {
  display: none;
}
.layout--unhide {
  animation: unhide-anim .5s linear;
}



.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.content__layout {
    min-height: 100vh;
}
.stripes {
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(0deg, rgba(248, 248, 255, 0.05), rgba(248, 248, 255, 0.05) 4px, transparent 0px, transparent 100px);
}
.card {
    background-color: black;
    padding: 16px 24px;
}
.label {
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: auto;
    letter-spacing: 0.15px;
    color: #EE0000;
    font-weight: 400;
    padding: 16px 24px;
    max-width: 300px;
    min-width: 100px;
    background-color: black;
}
.section h3 {
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: auto;
    letter-spacing: 0.25px;
    color: #EE0000;
    font-weight: 400;
    margin: 0px;
}
.section p {
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: auto;
    letter-spacing: 0px;
    color: #F8F8FF;
    font-weight: 400;
}
.section p mark {
    background-color: transparent;
    color: #EE0000;
}
.background-image-section {
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.background-image-section--reversed {
    width: 100%;
    z-index: 0;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%) rotateX(180deg);
}
/* loader and spinner styles*/
.loader {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 20;
    background-color: #0E0E0E;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader--hide {
    display: none;
}
.spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.spinner div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #EE0000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.spinner div:nth-child(1) {
    left: 8px;
    animation: spinner-anim-1 0.6s infinite;
}
.spinner div:nth-child(2) {
    left: 8px;
    animation: spinner-anim-2 0.6s infinite;
}
.spinner div:nth-child(3) {
    left: 32px;
    animation: spinner-anim-2 0.6s infinite;
}
.spinner div:nth-child(4) {
    left: 56px;
    animation: spinner-anim-3 0.6s infinite;
}
/* Navbar styles*/
.navbar {
    z-index: 19;
    top: 0px;
    position: sticky;
    width: 300px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    border-left: 2px solid rgba(248, 248, 255, 0.02);
}
.navbar__buttons {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    text-decoration: none;
    list-style-type: none;
}
.navbar__buttons a {
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: auto;
    letter-spacing: 0.15px;
    color: #EE0000;
    font-weight: 400;
    color: #EE0000;
    display: block;
    padding: 8px 42px;
    text-decoration: none;
    transition: .2s;
}
.navbar__buttons a:hover {
    transition: .2s;
    color: #F8F8FF;
}
.navbar__buttons-link--active::before {
    content: '.';
}
.navbar__bottom a {
    text-decoration: none;
}
.navbar__bottom img {
    height: 42px;
}
.navbar__vector {
    height: 300px;
    position: absolute;
    left: 0px;
    bottom: 15%;
    transform: translateX(-50%);
    pointer-events: none;
}
.navbar__vector--hidden {
    opacity: 0;
    transition: 1s;
}
.navbar__vector--show {
    opacity: 1;
}
/* Footer styles */
.footer {
    background-color: #121212;
    width: 100%;
    text-align: center;
    padding: 16px 0px;
}
.footer span {
    color: rgba(248, 248, 255, 0.3);
}
.footer a {
    display: none;
    text-decoration: none;
}
/* Styles card album for discography section*/
.card-album {
    position: relative;
    height: 300px;
    width: 300px;
    margin: 64px;
}
.card-album a {
    z-index: 1;
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
}
.card-album__image {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
.card-album__image::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(238, 0, 0, 0.2);
    transition: .5s;
}
.card-album__image img {
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
}
.card-album:hover > .card-album__image::after {
    transform: translateX(100%);
}
.card-album:hover > .card-album__image img {
    transform: translateX(-50%) scale(1.1, 1.1);
}
.card-album__label {
    z-index: 1;
    position: absolute;
}
.card-album__label span {
    color: #EE0000;
}
.card-album__label p {
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: auto;
    letter-spacing: 0.15px;
    color: #EE0000;
    font-weight: 300;
}
.card-album__label--variant1 {
    top: 0px;
    right: 0px;
    transform: translate(30%, -50%);
}
.card-album__label--variant2 {
    bottom: 0px;
    right: 0px;
    transform: translate(20%, 50%);
}
.card-album__label--variant3 {
    top: 0px;
    left: 0px;
    transform: translate(-30%, -40%);
}
.topbar {
    display: none;
    z-index: 20;
    top: 0px;
    right: 0px;
    position: fixed;
    height: 64px;
    width: 100vw;
    align-items: center;
    background-color: #121212;
    border-bottom: 2px solid rgba(248, 248, 255, 0.02);
}
.topbar__menu {
    position: relative;
    margin: 0px 16px;
    width: 24px;
    height: 24px;
    color: #F8F8FF;
    transition: .3s;
}
.topbar__menu--open {
    opacity: 0;
}
.topbar__menu--close {
    opacity: 1;
}
.topbar__menu img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.topbar span {
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: auto;
    letter-spacing: 0.15px;
    color: #EE0000;
    font-weight: 600;
}
.topbar__vector {
    flex: 1;
    position: absolute;
    right: 0px;
}
.topbar__vector img {
    top: -50px;
    right: 0px;
    position: absolute;
    height: 100px;
    pointer-events: none;
}
.menu-button {
    z-index: 30;
    position: fixed;
    top: 16px;
    left: 16px;
    opacity: 0;
}
.menu-button:checked ~ .topbar .topbar__menu--close {
    transition: .3s;
    opacity: 0;
}
.menu-button:checked ~ .topbar .topbar__menu--open {
    transition: .3s;
    opacity: 1;
}
.menu-button:checked ~ .navbar {
    transform: translateX(0%);
}
/* Section landing styles*/
.landing {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.landing__top {
    margin: 0px 128px;
    padding-top: 32px;
    z-index: 2;
}
.landing__top-header-label {
    font-size: 42px;
    font-weight: 500;
    color: #EE0000;
}
.landing__middle {
    margin: 0px 128px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.landing__middle-title {
    margin: 0px;
    width: 50%;
    z-index: 3;
    font-size: 128px;
    font-weight: bold;
    font-family: "MadeOuterSansOutlined", sans-serif;
    line-height: 110px;
    letter-spacing: 16px;
}
.landing__middle-subtitle {
    margin: 0px;
    width: 50%;
    z-index: 3;
    font-size: 32px;
    font-weight: 100;
    font-family: "MadeOuterSans", sans-serif;
}
.landing__middle-logo {
    position: absolute;
    z-index: 2;
    right: 20%;
    top: -10%;
    opacity: 50%;
    height: 120px;
}
.landing__bottom {
    z-index: 2;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 350px;
    display: flex;
    background-color: #0E0E0E;
}
.landing__bottom-image {
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    animation: image-zoom-anim 30s linear 0s infinite;
}
.landing__bottom-image--hide {
    visibility: hidden;
}
.landing__labels-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing__labels-image span {
    color: #EE0000;
    font-size: 32px;
    font-weight: bold;
    z-index: 1;
}
/* Section history styles*/
.history {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.history__top {
    z-index: 2;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 350px;
    display: flex;
    background-color: #0E0E0E;
}
.history__top-image {
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.history__bottom {
    margin: 0px 128px;
    padding-top: 42px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    z-index: 2;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
}
.history__decorate-vector {
    margin: 0px 128px;
    z-index: 2;
    height: 300px;
    position: absolute;
    bottom: 0px;
    left: -100px;
}
/* Section band styles*/
.band {
    padding-top: 64px;
    padding-bottom: 128px;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}
.band__top {
    margin: 0px 128px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    z-index: 3;
    height: 100%;
    align-items: flex-start;
}
.band__top-content {
    display: flex;
    gap: 32px;
}
.band__top-content--left {
    flex: 1;
    position: relative;
}
.band__top-content--right {
    position: relative;
}
.band__top-content--right::after {
    content: '';
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(238, 0, 0, 0.2);
}
.band__top-image {
    width: 300px;
}

.band__decorate-vector {
    z-index: 2;
    height: 300px;
    position: absolute;
    bottom: -100px;
    left: -100px;
}
.band__decorate-text-vector {
    z-index: 2;
    height: 200px;
    position: absolute;
    bottom: -100px;
    right: -100px;
}
.band__bottom {
    margin: 0px 128px;
    z-index: 2;
    position: relative;
    height: 900px;
    display: flex;
    background-color: black;
}
.band__bottom-image {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.band__bottom-image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.band__bottom-description {
    position: absolute;
    right: 0px;
    bottom: 0px;
    transform: translateY(100%);
    color: #F8F8FF;
}
.band__bottom-members {
    margin: 0px 128px;
    z-index: 2;
    display: none;
    flex-direction: column;
}
.band__bottom-members ul {
    list-style-type: square;
    margin-top: 8px;
    margin-left: 16px;
}
.band__bottom-members li {
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: auto;
    letter-spacing: 0.25px;
    color: #F8F8FF;
    font-weight: 400;
    padding: 4px;
}
.band__bottom-members h6 {
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: auto;
    letter-spacing: 0.1px;
    color: #EE0000;
    font-weight: 500;
}
.band__background {
    position: relative;
}
/* Section discography styles*/
.discography {
    padding-top: 64px;
    padding-bottom: 128px;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}
.discography__top {
    margin: 0px 128px;
    display: flex;
    z-index: 3;
}
.discography__bottom {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    height: 100%;
    width: 100%;
    outline: 4px solid rgba(238, 0, 0, 0.4);
    outline-offset: -15rem;
}
/* Section gallery styles*/
.gallery {
    padding-top: 64px;
    padding-bottom: 128px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}
.gallery__top {
    margin: 0px 128px;
    display: flex;
    z-index: 3;
}
.gallery__content {
    padding-left: 24px;
    z-index: 2;
    flex: 1;
    height: 100%;
    width: 100%;
}
.gallery__background {
    bottom: 0px;
    top: inherit;
}
.gallery__image {
  display: block;
  height: 400px;
  width: 100%;
  object-fit: cover;
  padding-top: 16px;
}

/* Media for responsive design */

@media (max-width: 1919px) {
    .landing__top {
         margin: 0px 42px;
    }
    .landing__middle {
         margin: 0px 42px;
    }
    .landing__middle-subtitle {
         width: 100%;
    }
    .landing__middle-title {
         width: 90%;
    }
    .landing__middle-logo {
         right: 10%;
    }
    .landing__bottom-image {
         width: auto;
         height: 100%;
    }
    .history__top-image {
         width: auto;
         height: 100%;
    }
    .history__bottom {
         margin: 0px 42px;
    }
    .history__decorate-vector {
         margin: 0px 42px;
    }
    .history__decorate-vector {
         left: -50px;
         height: 150px;
    }
    .band__top {
         margin: 0px 42px;
    }
    .band__bottom {
         margin: 0px 42px;
    }
    .band__bottom {
         height: 800px;
    }
    .band__bottom-members {
         margin: 0px 42px;
    }
    .discography__top {
         margin: 0px 42px;
    }
}

@media (max-width: 1366px) {
    .navbar__vector {
         height: 250px;
    }
    .band__decorate-vector {
         left: -50px;
         height: 200px;
    }
    .band__bottom {
         height: 650px;
    }
}

@media (max-width: 900px) {
    .navbar {
         transition: .3s;
         position: fixed;
         width: 100%;
         transform: translateX(100%);
    }
    .navbar__buttons a {
         font-size: 32px;
    }
    .navbar__vector {
         display: none;
    }
    .navbar__buttons a:active ~ .navbar {
         background-color: blue;
         transform: translateX(100%);
    }
    .stripes {
         background: repeating-linear-gradient(0deg, rgba(248, 248, 255, 0.05), rgba(248, 248, 255, 0.05) 4px, transparent 0px, transparent 50px);
    }
    .card {
         padding: 8px 16px;
    }
    .label {
         padding: 8px 16px;
         font-family: "Space Grotesk", sans-serif;
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: auto;
         letter-spacing: 0.15px;
         color: #EE0000;
         font-weight: 400;
    }
    .section h3 {
         font-family: "Space Grotesk", sans-serif;
         font-style: normal;
         font-weight: 600;
         font-size: 24px;
         line-height: auto;
         letter-spacing: 0px;
         color: #EE0000;
         font-weight: 600;
    }
    .section p {
         font-family: "Space Grotesk", sans-serif;
         font-style: normal;
         font-weight: 400;
         font-size: 15px;
         line-height: auto;
         letter-spacing: 0.5px;
         color: #F8F8FF;
         font-weight: 400;
    }
    .background-image-section--reversed {
         width: auto;
    }
    .background-image-section {
         width: auto;
    }
    .landing__top {
         margin: 0px 16px;
    }
    .landing__middle-title {
         font-size: 72px;
         line-height: 65px;
         letter-spacing: 6px;
    }
    .landing__top-header-label {
         display: none;
    }
    .topbar {
         display: flex;
    }
    .landing__middle {
         margin: 0px 16px;
    }
    .landing__middle-logo {
         height: 100px;
    }
    .history__bottom {
         margin: 0px 16px;
    }
    .history__decorate-vector {
         margin: 0px 16px;
    }
    .history__decorate-vector {
         left: -20px;
         height: 150px;
    }
    .band {
         justify-content: flex-start;
         padding-bottom: 0px;
    }
    .band__top {
         margin: 0px 16px;
    }
    .band__top {
         flex: none;
         justify-content: flex-start;
    }
    .band__top-content {
         gap: 0px;
    }
    .band__top-image {
         display: none;
    }
    .band__bottom {
         margin: 0px 16px;
    }
    .band__bottom {
         height: 380px;
    }
    .band__bottom-description {
         display: none;
    }
    .band__bottom-members {
         margin: 0px 16px;
    }
    .card-album {
         height: 200px;
         width: 200px;
         margin: 32px;
    }
    .band__bottom-members {
         display: flex;
    }
    .discography__top {
         margin: 0px 16px;
    }
    .discography__bottom {
         outline-offset: -10rem;
    }
}

@media (max-width: 500px) {
    .section h3 {
         font-family: "Space Grotesk", sans-serif;
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: auto;
         letter-spacing: 0.15px;
         color: #EE0000;
         font-weight: 600;
    }
    .label {
         padding: 4px 8px;
         font-family: "Space Grotesk", sans-serif;
         font-style: normal;
         font-weight: 400;
         font-size: 13px;
         line-height: auto;
         letter-spacing: 0.25px;
         color: #EE0000;
         font-weight: 400;
    }
    .topbar {
         height: 42px;
    }
    .landing__middle-subtitle {
         font-size: 16px;
    }
    .landing__middle-title {
         font-size: 56px;
         letter-spacing: 2px;
         line-height: 50px;
    }
    .landing__middle-logo {
         height: 42px;
         right: 2%;
         top: -5%;
    }
    .landing__bottom {
         height: 300px;
    }
    .history__top {
         height: 200px;
    }
    .history__decorate-vector {
         left: -40px;
         bottom: -50px;
    }
    .band__decorate-vector {
         height: 100px;
    }
    .band__decorate-text-vector {
         height: 100px;
         right: -50px;
         bottom: -50px;
    }
    .band__bottom {
         height: 200px;
    }
    .footer a {
         display: inline;
    }
    .card-album {
         height: 150px;
         width: 150px;
    }
    .discography__bottom {
         outline-offset: -3rem;
    }
}
