

//Function for get the color from palette

@function palette($name) {
  @return map-get($map: $palette, $key: $name);
};

@function weight($name) {
  @return map-get($map: $weight-type, $key: $name);
};


//Mixin for get a specific font from the font collection

@mixin typography($name, $color: 'light', $weight: 'none') {
  font-family   : map-get($map: map-get($map: $font-dict, $key: $name), $key: 'font-family');
  font-style    : map-get($map: map-get($map: $font-dict, $key: $name), $key: 'font-style');
  font-weight   : map-get($map: map-get($map: $font-dict, $key: $name), $key: 'font-weight');
  font-size     : map-get($map: map-get($map: $font-dict, $key: $name), $key: 'font-size');
  line-height   : map-get($map: map-get($map: $font-dict, $key: $name), $key: 'line-height');
  letter-spacing: map-get($map: map-get($map: $font-dict, $key: $name), $key: 'letter-spacing');
  text-transform: map-get($map: map-get($map: $font-dict, $key: $name), $key: 'text-transform');
  color         : map-get($map: $palette, $key: $color);

  @if $weight == 'none' {
    font-weight: map-get($map: map-get($map: $font-dict, $key: $name), $key: 'font-weight');
  }
  @else {
    font-weight: map-get($map: $weight-type, $key: $weight);
  }
}

@mixin spacing($vertical: 0px) {
  margin: $vertical 128px;

  @include media("<LGdesktop") {
    margin: $vertical 42px;
  }

  @include media("<=tablet") {
    margin: $vertical 16px;
  }
};

//Animation for landing website

@keyframes image-zoom-anim {
  0%   { transform: translateX(-50%) scale(1); }
  50% { transform: translateX(-50%) scale(1.2); }
  100% { transform: translateX(-50%) scale(1); }
}

//Animation for shimmering anim in landing website

@keyframes shimmering {
  0%, 24.99%, 100% {
    opacity: 0;
  }
  25%, 32.99% {
    opacity: 1;
    content: "luca";
  }
  33%, 57.99% {
    opacity: 0;
  }
  58%, 65.99% {
    opacity: 1;
    content: "not";
  }
  66%, 90.99% {
    opacity: 0;
  }
  91%, 100% {
    opacity: 1;
    content: "dead";
  }
}
